/example/
/itext-lib/
/source/
/results/
/logs/
/archive/

/HansardParser/example
/HansardParser/logs
/HansardParser/results
/HansardParser/source

# Java class
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

/nbproject/private/
/dist/
/build/
/HansardParser/nbproject/private/
/HansardParser/dist/
/HansardParser/build/
/ECRedelineation/nbproject/private/
/ECRedelineation/dist/
/ECRedelineation/build/
